/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  min-height: 110vh;
  max-height: 100%;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1535276811207-1bcae679870e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.logo {
  width: 90%;
  /* margin-top: 15px; */
}

.findShowsTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
  color: white;
}

.addressBar {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  /* border: solid black 2px; */
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  color: white;
}

.landingPageDiv {
  width: 100vw;
  height: 65vh;
  margin-top: 5vh;
}

.main {
  height: auto;
  margin-top: 130px;
  /* margin-bottom: 10vh; */
}

.dateDiv {
  width: 100%;
  height: auto;
  font-size: 2.5vh;
  /* margin-left: 25px; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.logoDiv {
  background: black;
  width: 100%;
  height: auto;
}

.welcomeInstructions {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5vh;
  margin-top: 20vh;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
}

.secondWelcomeInstruction {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 20vh;
}


.addressForm {
  margin-top: 60px;
  margin-bottom: 5px;
}

.cardDiv {
  margin-bottom: 12px;
  width: 96vw;
  height: 27vh;
  border: 2px solid black;
  margin-left: 2vw;

}

.card {
  background: transparent;
}

.addressButton {
  font-size: 2vmin;
  margin-right: 5px;
  margin-top: 5px;
}

.dateInputBar {
  width: 180px;
  height: 35px;
}

.addressButton{
  display: inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin:0 0.2em 0.2em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 2.5vh;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:white;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:transparent;
  text-align:center;
  transition: all 0.15s;
}
  .addressButton:hover{
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
}
  @media all and (max-width:30em){
   .addressButton {
  display:block;
  margin:0.4em auto;
  }
}

.launchButton{
  display:inline-block;
  padding:0.2em 1.45em;
  margin:0.1em;
  margin-top: 15vh;
  border:0.1em solid #FFFFFF;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 3vh;
  font-family:'Segoe UI','Roboto',sans-serif;
  font-weight:400;
  color:white;
  background-color:transparent;
  /* opacity: 50%; */
  text-align:center;
  position:relative;
}
  .launchButton:hover{
  border-color:#FFFFFF;
  }
  .launchButton:active{
  border-color: #FFFFFF;
  }
  @media all and (max-width:30em){
    .launchButton{
  display:block;
  margin:0.2em auto;
  }
}

.eventContainerDiv {
  min-height: 85vh;
  max-height: 100%;
  background-attachment: scroll;
  background-image: url('https://hdwallsource.com/img/2014/5/cool-hd-iphone-wallpapers-17464-18022-hd-wallpapers.jpg');
}

p.card-text {
  margin-top: 15px;
  margin-bottom: 1.6vh;
  font-size: 2.2vh;
}

div.card-body {
  height: 26.5vh;
  width: 95.5vw;
  background: rgba(200,200,200,.85)
}

h5.card-title {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 12px;
}

p.card-text {
  font-style: italic;
}

.distanceTag {
  text-align: right;
}

.welcomeYou {
  font-style: italic;
}

.welcomeLocation {
  animation-name: welcomeLocation;
  animation-duration: 4s;
}

.filterLabel {
  font-size: 2.3vh;
}

@keyframes welcomeLocation {
  from {font-style: bold;}
  to {font-style: italic;}
}


.welcomeDate {
  animation-name: welcomeLocation;
  animation-duration: 4s;
  animation-delay: 1s;
}


.loadingDiv {
  height: 90vh;
  background-image: url('https://cdn.dribbble.com/users/66340/screenshots/3089041/spinner2.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.locationOption {
  color: white;
  margin-bottom: 10px;
}

.addressMessage {
  color: white;
}

.locationIcon {
  width: 35px;
}

.dateMessage {
  color: white;
  text-align: left;
  /* margin-left: 8vmin; */
}

.cardDate {
  text-align: left; 
  margin-right: 15px;
  margin-top: -5px;
  font-weight: bold;
}

.eachDayTag {
  color: white;
  border: 2px black solid;
  background: grey;
  width: 95vw;
  padding: 5px;
  margin-left: 10px;
  font-size: 25px;
}

.filterForm {
  height: 50px;
  background-color: lightgrey;

}

.filterLabel {
  margin-top: 10px;
}

#filter {
  margin-top: 10px;
}

.displayEventsDiv {
  margin-top: -16vh;
}

.gettingEvents {
  background-color: lightgrey;
  font-size: 20px;
  color: darkblue;
  height: 25px;
}
@media screen and (min-width:320px)
and (max-width:342px) {
  div.card-body {
    height: 33vh;
  }
  .cardDiv {
    height: 33vh;
    margin-bottom: 13px;
  }
}

@media screen and (min-width:343px)
and (max-width:365px) {
  div.card-body {
    height: 29vh;
  }
  .cardDiv {
    height: 29vh;
    margin-bottom: 13px;
  }
  .landingPageDiv {
    margin-top: 90px;
  }
  .dateDiv {
    height: 18vh;
  }
  .findShowsTitle {
    margin-top: 130px;
  }
}

@media screen and (min-width:376px)
and (max-width:414px) {
  div.card-body {
    height: 28vh;
  }
  .cardDiv {
    height: 28vh;
    margin-bottom: 13px;
  }
  p.card-text {
    font-style: italic;
    margin-bottom: 15px;
  }
  .landingPageDiv {
    margin-top: 110px;
  }
  .welcomeInstructions{
    margin-bottom: 80px;
  }
  .launchButton {
    margin-top: 130px;
  }
}

@media screen and (min-width:415px)
and (max-width:480px) {
  div.card-body {
    height: 26vh;
  }
  .cardDiv {
    height: 26vh;
    margin-bottom: 13px;
  }
  p.card-text {
    font-style: italic;
    margin-bottom: 15px;
  }
  .landingPageDiv {
    margin-top: 110px;
  }
  .welcomeInstructions{
    margin-bottom: 80px;
  }
  .launchButton {
    margin-top: 180px;
  }
  .addressBar {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .locationOption {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .addressButton {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .findShowsTitle {
    margin-top: 100px;
  }
  p.dateMessage {
    font-size: 20px;
    margin-left: 13px;
  }
  .dateInputbar {
    font-size: 35px;
  }

  

  @media screen and (min-width:481px)
  and (max-width: 525) {
    .cardDiv {
      margin-left: 13px;
    }
  }


  
}






